* {
    /* border: 2px solid red; */
}

html {
    /* background: grey; */
    background: black;
    font-family: helvetica, arial, sans-serif;
    color: white;
}

.header {
    text-align: center;
    padding-top: 3em;
    padding-bottom: .5em;
    /* border: 2px solid red; */
}

p {
    margin-top: 0;
    margin-bottom: 0;
}

.buttons {
    /* padding: 5px; */
    border: 0;
    background-color: black;
    color: white;
}

.buttons img:hover {
    transform: scale(1.12)
}

.buttonGroup {
    display: flex;
    justify-content: center;
    /* padding-top: 2em; */
    padding-bottom: 2em;
    column-gap: 15px;
}

.score {
    padding-top: 30em;
}

.gameInstructions {
    text-align: center;
    padding-top: 2em;
    padding-bottom: 1em;
}

#results {
    text-align: center;
    font-size: 40px;
}

#roundScore {
    display: flex;
    justify-content: center;
    align-items: center;
    background: black;
    width: fit-content;
    margin: auto;
    padding: .5em;
    border-radius: 7px;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.rematchButton {
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    margin: auto;
    font-size: 40px;
    /* padding-top: 0px; */
}

.rematchGroup {
    padding-top: 0px;
}

.hide {
    display: none;
}

.rematchSet {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: auto;
    
    width: 400px;
}

/* .hiddenRematchPhoto {
    width: 200px;
} */

.gameOverText {
    font-size: 50px;
    text-align: center;
}

.bodyContainer {
    text-align: center;
}

.hiddenRematchButton {
    font-size: 40.3px;
}

